@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #58588b, #000000);
    color: #ffffff;
}
h1{
    font-size: 30px;
    color: #b19cd9;
    margin-left: -30%;
}

header {
    display: flex;
    justify-content:center;
    padding-right: 10%;
}

header h1{
    padding-right: 5%;
    padding-left: 0;
}

header ul {
    justify-content: space-around;
}
.list-item {
    display: inline;
    align-self: center;
    margin-right: 20px;
    margin-top: 20px;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.menu{
    margin-top: 0.5%;
    font-size: 18px;
}
